.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    margin: 80px 100px;
}

.contact-title {
    position: relative;
}

.contact-title h1 {
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}

.contact-section {
    display: flex;
    gap: 80px;
    width: 100%;
}

.contact-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 24px;
    font-weight: 500;
}

.contact-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-detail {
    display: flex;
    align-items: center;
    gap: 20px;
}

.contact-icon {
    width: 40px;
    height: 40px;
}

.contact-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 24px;
    font-weight: 500;
}

.contact-text.email {
    margin-left: 20px; /* Adjust this value to move the email text only */
}

.contact-text.phone {
    margin-left: 20px; /* Adjust this value to move the phone text only */
}

.contact-text.linkedin {
    margin-left: 20px; /* Adjust this value to move the LinkedIn text only */
}

.contact-text.github {
    margin-left: 20px; /* Adjust this value to move the GitHub text only */
}

.contact-right {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-basis: 50%;
}

.contact-right label {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 24px;
    font-weight: 500;
}

.contact-right input,
.contact-right textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

.contact-right button {
    padding: 10px 20px;
    font-size: 18px;
    background: linear-gradient(270deg, #66BB6A 0%, rgba(255, 255, 255, 0.5) 50%, #66BB6A 100%);
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-right button:hover {
    background-color: #55aa55;
}
.footer {
   
    bottom: 0;
    left: 0;
    width: 100%;
   
    color: #fff; /* Adjust the text color as needed */
    padding: 10px 20px; /* Adjust the padding as needed */
}

